@import url(base/vars.css);
@import url(base/base.css);
@import url(cmps/user-msg.css);
@import url(cmps/locs.css);
@import url(cmps/selected-loc.css);
@import url(cmps/footer.css);

@media (min-width: 750px) {
    main {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 15px;
    }
}

