.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.footer p {
    margin: 0;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.github-icon {
    color: #ffffff;
    margin: 0 5px;
    font-size: 18px;
    text-decoration: none;
}

.github-icon:hover {
    color: #0d9eff; 
}

.footer i {
    margin-left: 2px;
}
