body {
    background-color: var(--bg1);
    color: #ffffff;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg2);
    color: aliceblue;
    padding: 0.3em;
}

.map{
min-height: 100%;
}

header h1 {
    margin: 0;
}

.form-search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

input[type=text],input[type=number] {
    line-height: 2.3em;
    border-radius: .3em;
    padding-left: 10px;
    background-color: var(--color1);
    border: 0;
}

button {
    color: rgb(30, 119, 175);
    font-size: 1.1rem;
    border: 0;
    border-radius: .3em;
    background-color: #ffffff;
    padding: 5px 10px;
    padding-bottom: 7px;
    cursor: pointer;
    transition: background-color .5s;
}

button:hover {
    color: var(--color2);
    background-color: #e6f1ff;
}

.muted {
    font-size: .9em;
    color: var(--gray1);
}

.smaller {
    font-size: .8em;
}

.logo-img{
    margin-left: 10px;
    height: 80px;
    width: 100px;
}
